* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #cee9f0;
  --gray-line: #cbcdd2;
  --text: #484747;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #f01b3e;
  --green: #4cd62b;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
}

body {
  background: var(--background);
  color: var(--text);
}

body,
input {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.divlanding {
  display: flex;
}
